<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./static/styles.css">
    <script src="./static/script.js" defer></script>

    <title>YouTube Downloader</title>
  </head>
  <body>
    <h1>YouTube <span>áudio downloader</span></h1>
    <p>Formato ( .mp3 )</p>

    <form data-form>
      <label for="link">Insira o link:</label>
      <input type="url" id="link" name="link" placeholder="https://youtu.be" required>
      <button type="submit">Baixar</button>
    </form>

    <p class="message" data-message></p>

    <a href="#" download class="hidden" data-link="download">Salvar</a>
  </body>
</html>